<html lang="en">
	<head>
		<title>Remote Jupyter Session</title>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.css" rel="stylesheet">
		<link href="https://jupyter.rwth-aachen.de/hub/static/css/style.min.css" rel="stylesheet">
		<link href="https://jupyter.rwth-aachen.de/services/announcement/announcement.css" rel="stylesheet">
		<script src="https://jupyter.rwth-aachen.de/hub/static/components/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://jupyter.rwth-aachen.de/hub/static/components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<noscript>
			<div id='noscript'>
				JupyterHub requires JavaScript.<br>
				Please enable it to proceed.
			</div>
		</noscript>

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					
					<span id="jupyterhub-logo" class="pull-left">
						<a href="https://jupyter.rwth-aachen.de/hub/"><img src="https://jupyter.rwth-aachen.de/hub/logo" alt="JupyterHub" class="jpy-logo" title="Home"></a>
					</span>
					
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#thenavbar" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<div class="collapse navbar-collapse" id="thenavbar">
					<ul class="nav navbar-nav">
						<li><a href="https://jupyter.rwth-aachen.de/hub/home">Home</a></li>
						<li><a href="https://help.itc.rwth-aachen.de/service/8755ff0a2e134bc1a78f4993672487f8">Documentation</a></li>
						<li><a href="https://www.itc.rwth-aachen.de/cms/IT-Center/Footer/Service/~epvv/Impressum/?lidx=1">Imprint</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<div class="col">
					<h1>Remote Jupyter Session</h1>
					<p>This is a special profile which allows you to run Jupyter on a machine outside of the RWTHjupyter cluster such as the RWTH HPC cluster frontend nodes.</p>
					
					<h2>Instructions</h2>

					<h3>macOS / Linux / Windows</h3>
					<pre>
						<code class="language-bash">
							# Install Jupyter scripts
							$ python3 -m pip install rwth-jupyter

							# Connect to RWTHjupyter cluster
							$ rwth-jupyter
						</code>
					</pre>

					<h3>RWTH Compute Cluster</h3>

					<p>Please run the following commands on one of the HPC frontend nodes:</p>
					<pre>
						<code class="language-bash">
							# Login to one of the HPC frontend nodes via your SSH key or password
							$ ssh -l "{{hpc_username}}" login.hpc.itc.rwth-aachen.de

							# Switch to latest Python 3
							module load python/3.9.1

							# Install Jupyter scripts
							$ python3 -m pip install --user --no-warn-script-location rwth-jupyter

							# Connect to RWTHjupyter cluster
							$ ~/.local/bin/rwth-jupyter
						</code>
					</pre>

					<h2>Technical Details</h2>
					<p>Please checkout the <a href="https://git.rwth-aachen.de/jupyter/remote-spawn">README file of this profile</a> for further implementation details.</p>
				</div>
			</div>
		</div>

		<script src="https://jupyter.rwth-aachen.de/services/announcement/common.js"></script>
		<script src="https://jupyter.rwth-aachen.de/services/announcement/announcement.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/components/prism-bash.min.js"></script>

		<script>
			function checkReady() {
				console.log('Checking if session is ready...');
				fetch('{{prefix}}api')
					.then(function(response) {
						if (response.ok) {
							console.log('Session is ready. Reloading..');
							window.location.reload(false);
						}
					});
			}

			window.onload = function() {
				setInterval(checkReady, 300);
			}
		</script>
	</body>
</html>
